<ion-header>
  <ion-toolbar>
    <ion-item class="arena">

      <ion-title class="ion-text-center">Diccionario Rapa Nui</ion-title>
      <ion-img style="width: 30px; height: 30px;" src="./assets/images/moai.png"></ion-img>
    </ion-item>
  </ion-toolbar>
  <ion-item class="arena">
    <ion-title class="ion-text-center">Material de estudio</ion-title>
  </ion-item>
</ion-header>

<ion-content>
  <ion-item>
    <ion-img src="./assets/images/rongo-rongo.jpg" expand="block"></ion-img>
  </ion-item>
  <ion-item>
    <ion-label>Seleccione una lección</ion-label>
    <ion-select [(ngModel)]="leccionSeleccionada">
      <ion-select-option [value]="less" *ngFor="let less of lessons">{{less.tituloLeccion}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <br>

  <ion-item *ngIf="leccionSeleccionada != undefined">
    <ion-button (click)="sendDocuments()" >Solicitar Documentos</ion-button>
  </ion-item>

  <!-- <ion-item *ngFor="let doc of documents" (click)="onClickDownloadDoc(doc)">
    <ion-icon name="cloud-download" slot="end"></ion-icon>
    {{doc.nameDocument}} 
  </ion-item> -->
</ion-content>