<ion-header>
  <ion-toolbar>
    <ion-item class="arena">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Carga de archivos</ion-title>
      <ion-img style="width: 30px; height: 30px;" slot="end" src="./assets/images/moai.png"></ion-img>
    </ion-item>
  </ion-toolbar>
  <ion-item class="arena">
    <ion-title class="ion-text-center">Diccionario Rapa Nui</ion-title>
  </ion-item>
</ion-header>

<ion-content>
  <br>
  <ion-item>
    <ion-label>Seleccione un archivo:</ion-label>
    <ion-input type="file" [(ngModel)]="documento"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-textarea placeholder="Comentario:" class="document-text" [(ngModel)]="comentarioDocumento"></ion-textarea>
  </ion-item>
  <ion-button class="lesson_button" (click)='cancelarDocumento()'>Cancelar</ion-button>
  <ion-button class="lesson_button" (click)="validarDocumento()">Enviar</ion-button>

</ion-content>