<ion-header>
  <ion-toolbar>
    <ion-item class="arena">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Nueva Palabra</ion-title>
      <ion-img style="width: 30px; height: 30px;" slot="end" src="./assets/images/moai.png"></ion-img>
    </ion-item>
  </ion-toolbar>
  <ion-item class="arena">
    <ion-title class="ion-text-center">Diccionario Rapa Nui</ion-title>
  </ion-item>
</ion-header>

<ion-content>
  <br>
  <ion-item>
    <ion-label position="stacked">Ingrese palabra en español(*)</ion-label>
    <ion-input [(ngModel)]="palabraEsp"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked">Ingrese palabra en Rapa Nui(*)</ion-label>
    <ion-input [(ngModel)]="palabraRapa"></ion-input>
  </ion-item>
  <br>
  <ion-label class="new-word-label">Audio de pronunciación</ion-label>
  <ion-input type="file" name="filename" [(ngModel)]="audioRapa"></ion-input>
  <br>
  <ion-button expand="block" (click)="limpiarFormulario()">Limpiar Formulario</ion-button>
  <br>
  <ion-button class="lesson_button" (click)='cancelarPalabra()'>Cancelar</ion-button>
  <ion-button class="lesson_button" (click)="guardarPalabra()">Guardar</ion-button>

</ion-content>