<ion-header>
  <ion-toolbar>
    <ion-item class="arena">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Lecciones Disponibles</ion-title>
      <ion-img style="width: 30px; height: 30px;" slot="end" src="./assets/images/moai.png"></ion-img>
    </ion-item>
  </ion-toolbar>
  <ion-item class="arena">
    <ion-title class="ion-text-center">Seleccione su lección</ion-title>
  </ion-item>
  <ion-item>
    <ion-list>
      <ion-list-header style="position:sticky">
        <ion-title>Lecciones aprobadas: {{ lastLessonApproved }} / 7: {{ (percent * 100).toFixed(2)}}%</ion-title>
      </ion-list-header>
      <ion-progress-bar value="{{percent}}"></ion-progress-bar>
    </ion-list>
  </ion-item>
</ion-header>


<ion-content>
  <br>
  <ion-list>
    <ion-item *ngFor="let less of lessons">
      <ion-avatar slot="start">
        <img src="../../../assets/images/lesson.png" alt="leccion" />
      </ion-avatar>
      <ion-label (click)="cargarLeccion(less)">
        <h2>{{less.tituloLeccion}}</h2>
        <h3>Estado: {{ lessonsResumes[less.idLeccion - 1].stateLesson == 2 ? 'Completo' : 'Pendiente'}}</h3>
        <br>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>