<ion-header>
  <ion-toolbar>
    <ion-item class="arena">
      <ion-title class="ion-text-center">Diccionario Rapa Nui</ion-title>
      <ion-img style="width: 30px; height: 30px;" src="./assets/images/moai.png"></ion-img>
    </ion-item>
  </ion-toolbar>
  <ion-item class="arena">
    <ion-title class="ion-text-center">Inicio de sesión</ion-title>
  </ion-item>
</ion-header>

  <ion-content>
    <ion-item>
      <ion-img src="./assets/images/login.png" expand="block" ></ion-img>
    </ion-item>
  
    <ion-item class="ion-marging-top">
      <ion-label position="floating">E-mail *</ion-label>
      <ion-input [(ngModel)]="clientEmail"></ion-input>
    </ion-item>
  
    <ion-item class="ion-marging-top">
      <ion-label position="floating">Contraseña *</ion-label>
      <ion-input type="password" [(ngModel)]="clientPassword" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Recuerdame</ion-label>
      <ion-checkbox [(ngModel)]="checkLogin" slot= start class="ion-margin-top" id="Recordar" position="floating"></ion-checkbox>
    </ion-item>
    <ion-item >
    <ion-button  class="ion-marging-top" class="arena" expand="block" (click)="validateInputs()" type="submit">Ingresar</ion-button>
    <ion-button [routerLink]="['/log-in']" class="ion-marging-top" class="arena" expand="block" type="submit">cancelar</ion-button>    <br>
    
  </ion-item>
  <div class="container recPass">
    <a class="color" class="ion-text-center">Recuperar contraseña</a>
  </div>
    
</ion-content>
